.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  width: 100%;
  max-width: 300px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;

  /* create a small space when buttons wrap on 2 lines */
  margin: 10px 0;

  /* invisible border (will be colored on hover/focus) */
  border: solid 3px #49fcd4;
  border-radius: 10px;

  /* size comes from text & padding (no width/height) */
  padding: 1em;
  outline: none;

  /* make sure colors have enough contrast! */
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
  &:hover {
    color: #fff;
    border-color: currentColor;
    background-color: #49fcd4;
  }
  &:focus {
    outline: none;
    box-shadow: 0 0 0 3px #49fcd4;
  }
  &:active {
    transform: translateY(1px);
    filter: saturate(150%);
  }

  &.btn-active {
    background-color: #49fcd4;
  }
}
