.contact-list {
  list-style: none;
  padding: 2.25rem 1.5rem;

  li {
    margin-bottom: 1.5em;
  }

  h3 {
    font-family: var(--second-font);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1em;
  }
  a {
    font-weight: 300;
    color: inherit;
  }
}
