.form {
  input:not([type="submit"]),
  textarea {
    width: 100%;
    color: rgba(0, 0, 0, 0.4);
    font-size: 2rem;
    padding: 0.5em;
    border: 2px solid rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin-bottom: 1em;
    transition: all 0.3s;

    &:focus {
      border-color: #49fcd4;
    }
  }
}
