.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px;

  a {
    grid-column: span 1;
    overflow: hidden;
    position: relative;
    height: 50vw;
    max-height: 450px;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  a.full {
    grid-column: 1 / span 2;
  }
}
