.info header {
  padding: 30px 20px 30px 20px;
}

.info h1 {
  margin-bottom: 0.5em;
}

.info p {
  text-transform: uppercase;
  font-family: var(--second-font);
  font-size: 1.1rem;
  font-weight: normal;
  font-stretch: 100%;
  letter-spacing: 0.25em;

  a {
    color: inherit;
  }
}

.info .content {
  padding: 0px;
}

.info .content .img__wrap {
  position: relative;
  min-width: 100%;
  min-height: 100vh;

  img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
