.list {
  list-style: none;
  padding-left: 4em;

  li {
    position: relative;
    padding-bottom: 2em;

    &::before {
      display: block;
      content: "";
      position: absolute;
      left: -50px;
      top: 0%;
      width: 2.5em;
      height: 2.5em;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 920 1750' x='0px' y='0px'%3E %3Cpath style='fill: rgba(67, 217, 184, 0.5");
    }
  }

  i {
    display: block;
    position: absolute;
    left: -50px;
    top: 20%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    font-size: 1em;
  }
}
