:root {
  --main-font: "Source Sans Pro", sans-serif;
  --second-font: "Raleway", sans-serif;
}

html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  overflow-x: hidden;
}

body {
  background-color: #fff;
  color: #000;
  font-family: var(--main-font);
  font-size: 1.46rem;
  font-weight: 300;
  line-height: 2;

  @include mq("phone") {
    font-size: 1.6rem;
  }

  @include mq("tablet") {
    font-size: 1.86rem;
  }

  @include mq("desktop") {
    font-size: 1.73rem;
  }
}

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.1;
  font-stretch: 100%;
  margin: 0;
  margin-bottom: 1em;
  @include mq("phone") {
    font-size: 6.6rem;
  }

  @include mq("phone-wide") {
    font-size: 7.2rem;
  }

  @include mq("tablet") {
    font-size: 9.3rem;
  }

  @include mq("desktop") {
    font-size: 8.66rem;
  }
}

h2 {
  font-family: var(--second-font);
  font-size: 1.65rem;
  font-weight: 800;
  font-stretch: 100%;
  @include mq("phone-wide") {
    font-size: 1.8rem;
  }

  @include mq("tablet") {
    font-size: 2rem;
  }

  @include mq("desktop") {
    font-size: 2.2rem;
  }
}

h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.75;
}
