section header {
  padding: 2.25rem 1.5rem;
  background-attachment: fixed;
  background-color: #49fcd4;
  background-image: url(../images/bg.svg);
  background-position: 25% 50%;
  background-repeat: repeat-y;

  &.bg-none {
    background-color: transparent;
    background-image: none;
  }
}

section .content {
  padding: 2.25rem 1.5rem;
}

section p {
  font-weight: 300;
  line-height: 2.1;
  margin-bottom: 29.33px;

  strong {
    font-weight: 600;
  }
}
