/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0; }

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block; }

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */ }

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder; }

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */ }

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none; }

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */ }

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible; }

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none; }

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em; }

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */ }

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline; }

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto; }

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block; }

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item; }

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none; }

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none; }

/*
==============Exzamle yse===================
.site-header {
    padding: 2rem;
    font-size: 1.8rem;
    @include mq('tablet-wide') {
        padding-top: 4rem;
        font-size: 2.4rem;
    }
}

*/
/*
=====Use==========
.site-header {
    z-index: z('site-header');
}
*/
:root {
  --main-font: "Source Sans Pro", sans-serif;
  --second-font: "Raleway", sans-serif; }

html {
  font-size: 10px;
  box-sizing: border-box;
  scroll-behavior: smooth; }

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0; }

html,
body {
  overflow-x: hidden; }

body {
  background-color: #fff;
  color: #000;
  font-family: var(--main-font);
  font-size: 1.46rem;
  font-weight: 300;
  line-height: 2; }
  @media only screen and (min-width: 400px) {
    body {
      font-size: 1.6rem; } }
  @media only screen and (min-width: 768px) {
    body {
      font-size: 1.86rem; } }
  @media only screen and (min-width: 1150px) {
    body {
      font-size: 1.73rem; } }

h1 {
  font-size: 5.5rem;
  font-weight: 700;
  line-height: 1.1;
  font-stretch: 100%;
  margin: 0;
  margin-bottom: 1em; }
  @media only screen and (min-width: 400px) {
    h1 {
      font-size: 6.6rem; } }
  @media only screen and (min-width: 480px) {
    h1 {
      font-size: 7.2rem; } }
  @media only screen and (min-width: 768px) {
    h1 {
      font-size: 9.3rem; } }
  @media only screen and (min-width: 1150px) {
    h1 {
      font-size: 8.66rem; } }

h2 {
  font-family: var(--second-font);
  font-size: 1.65rem;
  font-weight: 800;
  font-stretch: 100%; }
  @media only screen and (min-width: 480px) {
    h2 {
      font-size: 1.8rem; } }
  @media only screen and (min-width: 768px) {
    h2 {
      font-size: 2rem; } }
  @media only screen and (min-width: 1150px) {
    h2 {
      font-size: 2.2rem; } }

h3 {
  text-transform: uppercase;
  font-size: 1.2em;
  font-weight: 400;
  line-height: 1.75; }

.btn {
  /* default for <button>, but useful for <a> */
  display: inline-block;
  width: 100%;
  max-width: 300px;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  /* create a small space when buttons wrap on 2 lines */
  margin: 10px 0;
  /* invisible border (will be colored on hover/focus) */
  border: solid 3px #49fcd4;
  border-radius: 10px;
  /* size comes from text & padding (no width/height) */
  padding: 1em;
  outline: none;
  /* make sure colors have enough contrast! */
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .btn:hover {
    color: #fff;
    border-color: currentColor;
    background-color: #49fcd4; }
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px #49fcd4; }
  .btn:active {
    -webkit-transform: translateY(1px);
            transform: translateY(1px);
    -webkit-filter: saturate(150%);
            filter: saturate(150%); }
  .btn.btn-active {
    background-color: #49fcd4; }

section header {
  padding: 2.25rem 1.5rem;
  background-attachment: fixed;
  background-color: #49fcd4;
  background-image: url(../images/bg.svg);
  background-position: 25% 50%;
  background-repeat: repeat-y; }
  section header.bg-none {
    background-color: transparent;
    background-image: none; }

section .content {
  padding: 2.25rem 1.5rem; }

section p {
  font-weight: 300;
  line-height: 2.1;
  margin-bottom: 29.33px; }
  section p strong {
    font-weight: 600; }

.info header {
  padding: 30px 20px 30px 20px; }

.info h1 {
  margin-bottom: 0.5em; }

.info p {
  text-transform: uppercase;
  font-family: var(--second-font);
  font-size: 1.1rem;
  font-weight: normal;
  font-stretch: 100%;
  letter-spacing: 0.25em; }
  .info p a {
    color: inherit; }

.info .content {
  padding: 0px; }

.info .content .img__wrap {
  position: relative;
  min-width: 100%;
  min-height: 100vh; }
  .info .content .img__wrap img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover; }

.image {
  position: relative;
  min-width: 100%;
  height: 50%;
  margin-top: 3rem; }
  .image img {
    display: block;
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover; }

.list {
  list-style: none;
  padding-left: 4em; }
  .list li {
    position: relative;
    padding-bottom: 2em; }
    .list li::before {
      display: block;
      content: "";
      position: absolute;
      left: -50px;
      top: 0%;
      width: 2.5em;
      height: 2.5em;
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 920 1750' x='0px' y='0px'%3E %3Cpath style='fill: rgba(67, 217, 184, 0.5"); }
  .list i {
    display: block;
    position: absolute;
    left: -50px;
    top: 20%;
    width: 2.5em;
    height: 2.5em;
    text-align: center;
    font-size: 1em; }

.in-pc {
  display: none; }

.image-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  gap: 5px; }
  .image-grid a {
    grid-column: span 1;
    overflow: hidden;
    position: relative;
    height: 50vw;
    max-height: 450px; }
    .image-grid a img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -o-object-fit: cover;
         object-fit: cover; }
  .image-grid a.full {
    grid-column: 1 / span 2; }

.form input:not([type="submit"]),
.form textarea {
  width: 100%;
  color: rgba(0, 0, 0, 0.4);
  font-size: 2rem;
  padding: 0.5em;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-bottom: 1em;
  -webkit-transition: all 0.3s;
  transition: all 0.3s; }
  .form input:not([type="submit"]):focus,
  .form textarea:focus {
    border-color: #49fcd4; }

.contact-list {
  list-style: none;
  padding: 2.25rem 1.5rem; }
  .contact-list li {
    margin-bottom: 1.5em; }
  .contact-list h3 {
    font-family: var(--second-font);
    font-size: 1em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 1em; }
  .contact-list a {
    font-weight: 300;
    color: inherit; }

.social-list {
  list-style: none;
  display: -webkit-box;
  display: flex;
  justify-content: space-around; }
  .social-list i {
    font-size: 1.8rem; }

/*# sourceMappingURL=styles.css.map */
